[settings]
profile = black
line_length = 120
skip = migrations,staticfiles,venv,.venv,htmlcov
skip_glob = */migrations/*
known_django = django
known_first_party = core,bookings,users,config
sections = FUTURE,STDLIB,DJANGO,THIRDPARTY,FIRSTPARTY,LOCALFOLDER